
/*pub-1|2013-05-17 20: 32: 29*/
	.clearfix {
	*zoom: 1
}
.clearfix: after {
	content: '\20';
	display: block;
	height: 0;
	clear: both
}
.rate-grid .rate-gift s {
	background-image: url(http: //img03.taobaocdn.com/tps/i3/T1TAZ7Xo0gXXboGKr.-487-21.png);
	background-repeat: no-repeat
}
.rate-score,.rate-graph {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top
}
.rate-score {
	width: 75px;
	padding: 0 20px;
	border-right: 1px dotted #ddd;
	text-align: center
}
.rate-score h4 {
	color: #404040;
	font-size: 12px;
	font-weight: 100
}
.rate-score strong {
	color: #f60;
	font-family: arial;
	font-size: 32px;
	line-height: 32px;
	margin: 0 2px
}
.rate-score p {
	padding-top: 1px;
	padding-left: 7px;
	text-align: left
}
.rate-score .score-value-no,.rate-score .score-value-no em {
	background: url(http: //img01.taobaocdn.com/tps/i1/T1HMnMXmVqXXcb2O3B-114-122.png) no-repeat 0 -27px
}
.rate-score .score-value-no em,.rate-score .score-value-no {
	display: block;
	width: 60px;
	height: 12px;
	overflow: hidden
}
.rate-score .score-value-no em {
	background-position: 0 -15px
}
.rate-score .score-value-5 em {
	width: 60px
}
.rate-score .score-value-4d9 em {
	width: 58px
}
.rate-score .score-value-4d8 em {
	width: 57px
}
.rate-score .score-value-4d7 em {
	width: 56px
}
.rate-score .score-value-4d6 em {
	width: 55px
}
.rate-score .score-value-4d5 em {
	width: 54px
}
.rate-score .score-value-4d4 em {
	width: 53px
}
.rate-score .score-value-4d3 em {
	width: 52px
}
.rate-score .score-value-4d2 em {
	width: 51px
}
.rate-score .score-value-4d1 em {
	width: 50px
}
.rate-score .score-value-4 em {
	width: 49px
}
.rate-score .score-value-3d9 em {
	width: 46px
}
.rate-score .score-value-3d8 em {
	width: 45px
}
.rate-score .score-value-3d7 em {
	width: 44px
}
.rate-score .score-value-3d6 em {
	width: 43px
}
.rate-score .score-value-3d5 em {
	width: 42px
}
.rate-score .score-value-3d4 em {
	width: 41px
}
.rate-score .score-value-3d3 em {
	width: 40px
}
.rate-score .score-value-3d2 em {
	width: 39px
}
.rate-score .score-value-3d1 em {
	width: 38px
}
.rate-score .score-value-3 em {
	width: 37px
}
.rate-score .score-value-2d9 em {
	width: 34px
}
.rate-score .score-value-2d8 em {
	width: 33px
}
.rate-score .score-value-2d7 em {
	width: 32px
}
.rate-score .score-value-2d6 em {
	width: 31px
}
.rate-score .score-value-2d5 em {
	width: 30px
}
.rate-score .score-value-2d4 em {
	width: 29px
}
.rate-score .score-value-2d3 em {
	width: 28px
}
.rate-score .score-value-2d2 em {
	width: 27px
}
.rate-score .score-value-2d1 em {
	width: 26px
}
.rate-score .score-value-2 em {
	width: 25px
}
.rate-score .score-value-1d9 em {
	width: 22px
}
.rate-score .score-value-1d8 em {
	width: 21px
}
.rate-score .score-value-1d7 em {
	width: 20px
}
.rate-score .score-value-1d6 em {
	width: 19px
}
.rate-score .score-value-1d5 em {
	width: 18px
}
.rate-score .score-value-1d4 em {
	width: 17px
}
.rate-score .score-value-1d3 em {
	width: 16px
}
.rate-score .score-value-1d2 em {
	width: 15px
}
.rate-score .score-value-1d1 em {
	width: 14px
}
.rate-score .score-value-1 em {
	width: 13px
}
.rate-score .score-value-0d9 em {
	width: 10px
}
.rate-score .score-value-0d8 em {
	width: 9px
}
.rate-score .score-value-0d7 em {
	width: 8px
}
.rate-score .score-value-0d6 em {
	width: 7px
}
.rate-score .score-value-0d5 em {
	width: 6px
}
.rate-score .score-value-0d4 em {
	width: 5px
}
.rate-score .score-value-0d3 em {
	width: 4px
}
.rate-score .score-value-0d2 em {
	width: 3px
}
.rate-score .score-value-0d1 em {
	width: 2px
}
.rate-score .score-value-0 em {
	width: 1px
}
.rate-graph {
	padding-left: 90px;
	padding-top: 22px;
	width: 450px
}
.graph-scroller,.rate-graph .graph-scroller em {
	background: url(http: //img03.taobaocdn.com/tps/i3/T1TAZ7Xo0gXXboGKr.-487-21.png) no-repeat
}
.graph-scroller {
	width: 400px;
	height: 16px;
	text-align: left;
	position: relative
}
.rate-graph .graph-scroller span {
	position: absolute;
	height: 22px;
	top: -24px;
	left: 13px
}
.rate-graph .graph-scroller em {
	background-position: -417px 2px;
	color: #fff;
	display: block;
	float: right;
	height: 23px;
	width: 30px;
	line-height: 19px;
	text-align: center
}
.graph-desc {
	padding-left: 40px
}
.graph-desc li {
	float: left;
	width: 80px;
	text-align: center;
	color: #808080
}
.rate-header {
	border: 1px solid #c8c8c8;
	border-bottom: 0;
	padding: 10px 0;
	display: none
}
.rate-with-compose .rate-header {
	border-bottom: 1px solid #c8c8c8
}
.rate-header-tags {
	display: block
}
.rate-header-tags .rate-graph {
	display: none
}
.rate-toolbar {
	background: #efefef;
	border: 1px solid #c8c8c8;
	height: 24px;
	line-height: 24px;
	padding: 5px 10px 5px 10px;
	text-align: right
}
.rate-toolbar .rate-filter {
	margin-right: 25px
}
.rate-toolbar .rate-filter input {
	margin-right: 3px
}
.rate-toolbar .rate-filter label {
	margin-right: 10px
}
.rate-toolbar .rate-sort a {
	display: inline-block;
	*display: inline-block;
	*zoom: 1;
	margin-right: 5px;
	border: 1px solid #ccc;
	padding: 3px 8px;
	color: #333;
	height: 16px;
	vertical-align: top;
	line-height: 16px
}
.rate-toolbar .rate-sort a: hover {
	text-decoration: none
}
.rate-toolbar .rate-sort a.active {
	background: #fff
}
.rate-toolbar .rate-sort .rate-arrow {
	display: block;
	padding-right: 10px;
	background: url(http: //img02.taobaocdn.com/tps/i2/T19akcXjFiXXaFa4Tr-7-8.png) no-repeat right 50%
}
.rate-grid {
	width: 100%
}
.rate-grid a {
	color: #333
}
.rate-grid table {
	width: 100%;
	table-layout: fixed
}
.rate-grid .rate-new {
	background: #ffffe5
}
.rate-grid td {
	padding: 16px 12px;
	border-bottom: 1px solid #e3e3e3
}
.rate-grid .rate-empty {
	color: #666;
	padding: 6px 0
}
.rate-grid .col-master {
	width: 420px;
	padding-right: 30px
}
.rate-grid .col-meta {
	width: 135px;
	color: #999
}
.rate-grid .col-author {
	padding-right: 0
}
.rate-grid .rate-gift {
	margin-top: 10px;
	color: #999
}
.rate-grid .rate-gift s {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: -2px;
	background-position: -455px 0;
	width: 16px;
	height: 14px;
	margin-left: 5px
}
.rate-grid .rate-content,.rate-grid .rate-reply {
	word-wrap: break-word;
	word-break: break-all;
	line-height: 19px;
	max-height: 190px;
	overflow: hidden
}
.rate-grid .rate-content-collapse {
	height: 190px
}
.rate-grid .rate-content-expand {
	height: auto;
	max-height: none
}
.rate-grid .rate-content {
	color: #333
}
.rate-full-trigger {
	height: 14px;
	padding: 6px 0 0
}
.rate-full-trigger span {
	float: right;
	width: 14px;
	height: 10px;
	overflow: hidden;
	cursor: pointer;
	background: url(http: //img03.taobaocdn.com/tps/i3/T150LDXXJhXXbTQ82d-16-200.png) no-repeat -1px -41px
}
.rate-full-trigger .rate-collapse {
	background-position: -1px -55px
}
.rate-grid .rate-content b {
	display: inline-block;
	background: #fffdcd;
	font-weight: normal
}
.rate-content span {
	color: #999
}
.rate-grid .rate-reply {
	color: #af874d;
	margin-top: 8px
}
.rate-grid .rate-date {
	color: #ccc
}
.rate-append {
	position: relative;
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	margin: 10px 0 0 6px;
	padding: 10px
}
.rate-append s {
	background: url(http: //img04.taobaocdn.com/tps/i4/T1HGA8XflfXXboGKr.-487-21.png) no-repeat -480px 0;
	width: 7px;
	height: 6px;
	position: absolute;
	left: -6px;
	_left: -16px;
	top: -1px;
	overflow: hidden
}
.rate-append .rate-daydiff {
	color: #999
}
.rate-grid .col-meta p span {
	color: #666
}
.rate-grid .rate-sku {
	margin-bottom: 3px
}
.rate-grid .rate-user-profile p {
	display: inline;
	margin-right: 5px
}
.rate-grid .rate-user-profile span {
	display: none
}
.rate-grid .rate-user-info span {
	color: #999
}
.rate-grid .rate-user-grade img {
	vertical-align: middle;
	margin-right: 3px
}
.rate-paginator {
	margin-top: 20px;
	text-align: right;
	background: url(http: //img01.taobaocdn.com/tps/i1/T1O.q5XdVqXXXXXXXX-70-20.png) no-repeat right 0;
	padding: 20px 0 10px;
	margin-right: 30px
}
.rate-page span,.rate-page a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	height: 27px;
	line-height: 27px;
	padding: 5px 14px;
	border: 1px solid #e5e5e5;
	border-width: 1px 1px 1px 0;
	color: #2953a6;
	font-size: 14px
}
.rate-page a: hover {
	background-color: #efefef
}
.rate-page span {
	color: #999
}
.rate-page .rate-page-prev {
	border-width: 1px
}
.rate-page .rate-page-break {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	line-height: 20px
}
.rate-date .rate-share {
	position: static;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 12px;
	vertical-align: -4px;
	vertical-align: top
}
.rate-beta {
	position: absolute;
	background: url(http: //img01.taobaocdn.com/tps/i1/T1qcukXv8dXXbvDvzb-24-12.png) no-repeat;
	width: 24px;
	height: 12px
}
.rate-sort-recommend {
	position: relative
}
.rate-sort-recommend .rate-beta {
	top: -14px;
	left: 6px
}
.rate-w790 .rate-grid .col-master {
	width: 460px
}
.rate-w990 .rate-grid .col-master {
	width: 588px;
	padding-left: 24px
}
.rate-w990 .rate-grid .col-meta {
	width: 215px
}
.publicize {
	padding: 8px 0 8px 0;
	border: 1px solid #f19000;
	overflow: hidden;
	text-align: center;
	color: #f60;
	position: relative;
	_height: 30px
}
.publicize .pubmore {
	position: absolute;
	right: 5px;
	width: 120px;
	top: 10px
}
.publicize .pubmore .ui-msg-icon {
	top: -4px;
	*top: -5px
}
/*pub-1|2013-05-17 20: 32: 29*/
	.rate-tag-box,.rate-tag-label,.rate-tag-list,.rate-tag-toggle {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top
}
.rate-tag-box {
	width: 630px
}
.rate-tag-label {
	color: #ccc;
	width: 16px;
	height: 61px;
	margin-top: 4px;
	font-size: 11px;
	line-height: 12px;
	padding: 0 12px 0 25px;
	background: url(http: //img03.taobaocdn.com/tps/i3/T12eC3XklrXXXXXXXX-15-52.png) no-repeat right center
}
.rate-tag-toggle {
	margin-top: 10px;
	width: 13px;
	height: 13px;
	overflow: hidden;
	cursor: pointer;
	background: url(http: //img03.taobaocdn.com/tps/i3/T1OZn4Xj8XXXaxN9_d-16-330.png) no-repeat right -96px;
	visibility: hidden
}
.rate-tag-toggle-expand {
	background-position: right -109px
}
.rate-tag-list {
	position: relative;
	width: 555px;
	height: 70px;
	overflow: hidden
}
.rate-tag-inner {
	overflow: hidden
}
.rate-tag-list span {
	float: left;
	height: 22px;
	margin: 7px 6px 6px
}
.rate-tag-list a {
	position: relative;
	float: left;
	border-radius: 2px;
	line-height: 18px;
	padding: 1px 10px;
	background: #fff;
	box-shadow: 2px 2px 1px #f2f2f2;
	border: 1px solid #d3f4e4;
	white-space: nowrap;
	color: #409280
}
.rate-tag-list .tag-posi a {
	color: #b10000;
	border-color: #ffd7dd
}
.rate-tag-list .tag-neg .selected,.rate-tag-list a: hover {
	text-decoration: none;
	background: #d9f5ed;
	border-color: #409280
}
.rate-tag-list .tag-posi .selected,.rate-tag-list .tag-posi a: hover {
	background: #ffe2e2;
	border-color: #b10000;
	color: #b10000
}
.rate-tag-list s {
	position: absolute;
	visibility: hidden;
	width: 12px;
	height: 12px;
	bottom: -6px;
	right: -6px;
	overflow: hidden;
	background: url(http: //img04.taobaocdn.com/tps/i4/T1X.owXeBcXXbRf1g.-12-24.png) no-repeat 0 -12px
}
.rate-tag-list .tag-posi s {
	background-position: 0 0
}
.rate-tag-list .selected s {
	visibility: visible
}
.rate-subject {
	display: none;
	background: #f6f6f6;
	border: 1px solid #d7d7d7;
	border-width: 0 1px;
	color: #333;
	height: 98px
}
.rate-subject h4 {
	float: left;
	font-weight: normal;
	width: 115px;
	height: 60px;
	line-height: 60px;
	margin: 19px 0;
	border-right: 1px dotted #e0e0e0;
	text-align: center
}
.rate-theme-list {
	float: left;
	height: 36px;
	padding: 36px 0 0 30px
}
.rate-theme,.rate-theme h5,.rate-theme ol {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle
}
.rate-theme-0 {
	margin-right: 40px
}
.rate-theme h5 {
	font-weight: normal
}
.rate-theme ol {
	width: 200px;
	border: 1px solid #da485a;
	border-radius: 2px;
	line-height: 15px;
	height: 15px;
	text-align: center
}
.rate-theme li {
	position: relative;
	float: left;
	height: 15px;
	cursor: default
}
.rate-theme li span {
	position: absolute;
	top: -22px;
	left: -50%;
	color: #999;
	white-space: nowrap
}
.rate-theme li s {
	position: absolute;
	top: -4px;
	width: 7px;
	height: 4px;
	background: url(http: //img02.taobaocdn.com/tps/i2/T1rV7cXoxeXXbiw8na-7-34.png) no-repeat;
	overflow: hidden
}
.rate-theme .theme-opt-0 {
	background: url(http: //img02.taobaocdn.com/tps/i2/T1rV7cXoxeXXbiw8na-7-34.png) repeat-x 0 -19px;
	color: #fff;
	font-weight: bold
}
.rate-theme .theme-opt-0 span {
	color: #d33347
}
.rate-theme .theme-opt-1 {
	background: url(http: //img02.taobaocdn.com/tps/i2/T1rV7cXoxeXXbiw8na-7-34.png) repeat-x 0 -4px
}
.rate-w790 .rate-graph {
	padding-left: 105px
}
.rate-w790 .rate-tag-box {
	width: 670px
}
.rate-w790 .rate-tag-list {
	width: 590px
}
.rate-w990 .rate-graph {
	padding-left: 160px
}
.rate-w990 .rate-tag-box {
	width: 850px
}
.rate-w990 .rate-tag-list {
	width: 770px
}